.item {
  @apply grid grid-cols-[50px_1fr] gap-[10px_40px];
}

.item:not(:last-child) {
  @apply mb-[30px];
}

.title {
  @apply self-center text-[20px] font-bold leading-[27px] text-[#3B434E];
}

.line {
  width: 1px;
  margin-left: 50%;

  background-color: #d2d2d2;
  transform: translateX(-50%);
}
